body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #47dbeb, #f85ed4);
    overflow: hidden; 
}

.container {
    padding: 40px 60px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
h1 {
    font-family: 'Great Vibes', cursive;
    color: #000000;
    font-size: 52px; 
    font-weight: 500;
    position: relative;
    margin: 0;
    padding-top: 50px; 
    line-height: 1.2;
}

h1 br {
    display: block;
    content: "";
    margin-top: 10px;
}

h1::before, h1::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 25px;
    height: 40px;
    background: #ff79c6;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 15px #ff79c6;
    animation: beat 1.5s ease-in-out infinite;
}

h1::before {
    transform: translateX(-50%) rotate(-45deg);
    transform-origin: 0 100%;
}

h1::after {
    transform: translateX(-50%) rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}
h1::after {
    animation-name: beat-after;
}
@keyframes beat-after {
    0%, 100% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.1) rotate(45deg);
    }
}